<div class="login-box">
  <h2>Login</h2>
  <form action="/auth/login" method="POST">
    <div class="user-box">
      <input type="email" name="email" />
      <label>Email</label>
    </div>
    <div class="user-box">
      <input type="password" name="password" />
      <label>Password</label>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
{{#if errorMessage}}

  {{errorMessage}}

{{/if}}