<section class="canva">
  {{! <div class="container-login"> }}
  <div class="box-glass container-form">
    <div>
      <h2>Login</h2>
      <form action="/auth/login" method="POST">
        <div class="input-box-white">
          <input type="email" name="email" placeholder="Email" />
        </div>
        <div class="input-box-white">
          <input type="password" name="password" placeholder="Password" />
        </div>
        <div>
          <input class="btn-green" type="submit" value="Login" />
        </div>

        <p class="forget">Don't have an account?
          <a href="/auth/signup"> Sign Up</a></p>
      </form>
    </div>
    {{#if errorMessage}}
      <p style="color:orangered">{{errorMessage}}</p>
    {{/if}}
  </div>
</section>