<h1>Add friends</h1>

<button><a href="/group/group/{{group._id}}">back</a></button>

<h1>{{group.groupName}}</h1>

<ul>Friends in the group:
  {{#each group.users}}
    <li>{{this.username}}</li>
  {{/each}}
</ul>

<form action="/group/add/{{group._id}}" method="post">
  <fieldset>
    <label for="users">
      Friends name:
    </label>
    <input required type="text" name="users" id="users" />
    <label for="email">Email:</label>
    <input required type="email" name="email" id="email" />
  </fieldset>

  <button type="submit">Add friends</button>
</form>