<section id="sectioncreategroup">
  <div class="my-container form">
    <h2>Create Group</h2>
    <form
      action="/group/creategroup"
      method="post"
      enctype="multipart/form-data"
    >
      <div class="input-box-white">
        <input required type="text" name="groupName" placeholder="Group name" />
      </div>
      <div class="input-box-white">
        <input
          type="text"
          name="description"
          placeholder="Description of the group"
        />
      </div>
      <div class="input-box-white">
        <input
          type="number"
          name="price"
          placeholder="Select a maximum price"
        />
      </div>
      <div class="input-box-white">
        <input
          type="file"
          name="groupImg"
          placeholder="Select a maximum price"
        />
      </div>
      <div>
        <input class="btn-green" type="submit" value="Create Group" />
      </div>
    </form>
  </div>
</section>