<h1>WARNING</h1>
<h1>WARNING</h1>
<h1>WARNING</h1>
<h1>WARNING</h1>

<h1>are you sure you want to delete {{groupDelete.groupName}}?</h1>

<button> <a href="/group/group/{{groupDelete._id}}">No</a></button>

<form action="/group/group/delete/{{groupDelete._id}}" method="post">
  <button type="submit">Yes</button></form>