<section class="canva">
  <div class="box-glass container-form">

    <h2>Are you sure you want to delete {{groupDelete.groupName}}?</h2>

    <hr />

    <a class="signup" href="/group/group/{{groupDelete._id}}">
      <button class="btn-green">
        No</button></a>

    <form action="/group/group/delete/{{groupDelete._id}}" method="post">
      <button
        class="btn-green"
        type="submit"
        style="background-color:indianred"
      >Yes</button></form>

  </div>
</section>