<div class="w-full flex flex-col items-center justify-center px-6 py-8 mx-auto">
  <div class="w-full bg-white rounded-lg shadow  md:mt-0 sm:max-w-md ">
    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
      <h2 class="text-xl font-bold leading-tight tracking-tight text-slate-900 md:text-2xl text-center ">
        Are you sure you want to delete {{groupDelete.groupName}}?
      </h2>

      <div class="flex gap-2 justify-center">
        <form action="/group/group/delete/{{groupDelete._id}}" method="POST">
          <button type="submit" class="btn btn-outline btn-primary">Yes</button>
        </form>
        <a class="btn btn-error" href="/group/group/{{groupDelete._id}}">No</a>
      </div>
      <div>
      </div>
    </div>
    <div>
    </div>
  </div>
</div>