<img src="/images/circle-scatter.svg" alt="bg" class="absolute top-0 left-0 object-cover h-full w-full">
<section class="relative w-full flex flex-col items-center justify-center" >
    <h2 class="font-extrabold uppercase text-5xl mb-6">Time to <span class="text-primary bg-neutral px-1">party!</span></h2>
    <p class="text-lg text-center"> Start a group with your closest friends <br> and make plans easily to
        exchange gifts!</p>
  
</section>