<div id="backgroundImage">
  <section id="sectionLanding">
    <div class="container-landing">
      <h3>Time to Party! </h3>
      <h2>Your Secret Santa Generator</h2>
      <p>sgfbsgfhstr hvthedr SSyhtgdfgjbg hgukhgkjmghjhg fnbkfgjg fhjhfgjf nnkfu</p>
      <button class="input__box"><a
          class="btn-link-white"
          href="/auth/login"
        >Log in</a></button>
      <a class="btn-link-green" href="/auth/signup">Sign up</a>

      {{! <button> <a href="/group/editgroup">Edit group</a></button>
      <button> <a href="/group">Group</a></button>

      <button> <a href="/user/profile">Profile page</a></button> }}

    </div>
    {{! <div class="divLanding">
    <img src="images/example-8.svg" alt="" />
  </div> }}

  </section>
</div>