<section class="canva">
  <div class="box-glass container-flex-center">
    <h3>Time to Party! </h3>
    <h2>Your Secret Santa Generator</h2>
    <p>sgfbsgfhstr hvthedr SSyhtgdfgjbg hgukhgkjmghjhg fnbkfgjg fhjhfgjf nnkfu</p>
    <button class="btn-green"><a href="/auth/login" type="submit">Log in</a>
    </button>
    <a class="signup" href="/auth/signup">Sign up</a>

    {{! <button> <a href="/group/editgroup">Edit group</a></button>
      <button> <a href="/group">Group</a></button>

      <button> <a href="/user/profile">Profile page</a></button> }}

  </div>
  {{! <div class="divLanding">
    <img src="images/example-8.svg" alt="" />
  </div> }}

</section>