<section class="canva">
  <div class="box-glass container-flex-center">
    <h3>Time to party!</h3>
    <h2>Your personalized secret santa generator</h2>
    <p>
      <em>
        Start a group with your closest friends and make plans easily to
        exchange gifts!</em></p>

    {{#unless userIsConnected}}
      <a href="/auth/login"><button class="btn-green">Log in
        </button></a>

      <a class="signup" href="/auth/signup">Sign up</a>
    {{/unless}}

    {{#if userIsConnected}}
      <a href="/user/profile/{{_id}}"><button class="btn-green">Profile
        </button></a>
      <a class="signup" href="/group/creategroup">Create group</a>

    {{/if}}
  </div>
</section>