<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>

<button><a href="/auth/login">Log in</a></button>
<button><a href="/auth/signup">Sign up</a></button>

<button> <a href="/group/editgroup">Edit group</a></button>
<button> <a href="/group">Group</a></button>

<button> <a href="/user/profile">Profile page</a></button>