<div id="backgroundImage">
  <section id="sectionLanding">
    <div class="divLanding">
      <h4>Your Secret Santa Generator </h4>
      <h1>Organize your Secret Santa online</h1>
      <p>sgfbsgfhstrhvthedryhtgdfgjbg hgukhgkjmghjhg fnbkfgjg fhjhfgjf nnkfu</p>
      <div>
        <button class="input__box"><a href="/auth/login">Log in</a></button>
        <a href="/auth/signup">Sign up</a>

        {{! <button> <a href="/group/editgroup">Edit group</a></button>
      <button> <a href="/group">Group</a></button>

      <button> <a href="/user/profile">Profile page</a></button> }}
      </div>

    </div>
    {{! <div class="divLanding">
    <img src="images/example-8.svg" alt="" />
  </div> }}

  </section>
</div>