<html lang="en" data-theme="bumblebee">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Webstie</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<div class="navbar bg-base-100 flex justify-between">
  <div class="">
    <a class="btn btn-ghost text-xl" href="/">Webstie</a>
  </div>
  <div class="">
    {{#if userIsConnected}}
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-primary btn-circle avatar ">
        <div class="w-10 rounded-full">
          <img alt="Tailwind CSS Navbar component" src="{{profileImg}}" />
        </div>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li><a href="/user/profile/{{_id}}">Profile</a></li>
        <li><a href="/user/profile/edit/{{_id}}">Edit Profile</a></li>
        <li><a href="/group/creategroup">New Group</a></li>
        <li><a href="/auth/logout">Logout</a></li>
      </ul>
    </div>
    {{/if}}
    {{#unless userIsConnected}}
    <div class="flex gap-2 w-full">
    <a class="btn btn-ghost" href="/auth/login">Login</a>
    <a class="btn btn-primary" href="/auth/signup">Sign Up</a>
    </div>
    {{/unless}}
  </div>
</div>
<main class="bg-slate-100 min-h-[calc(100vh-4rem)] w-full flex flex-col items-center justify-center">
      {{{body}}}
</main>


</body>

</html>