* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: linear-gradient(to bottom, #d2e0f3, #e7eef8);
  min-height: 100vh;
  min-width: 100vw;
}
section {
  /* background: url("/images/pexels-helena-lopes-697243.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}
.box {
  position: relative;
}
.container {
  width: 400px;
  display: flex;
  min-height: 400px;
  position: relative;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  background: #fffafb9a;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 10%;
}
.form {
  width: 100%;
  height: 100%;
  padding: 40px;
  position: relative;
}
.form h2 {
  color: #090a0d;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  letter-spacing: 1px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
.form h2::before {
  width: 80px;
  height: 4px;
  content: "";
  bottom: -15px;
  background: #82ddf0ff;
  position: absolute;
  display: flex;
  justify-content: center;
}
.form .input__box {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.form .input__box input {
  width: 100%;
  color: #090a0d;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px 20px;
  letter-spacing: 1px;
  border-radius: 35px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.form::placeholder {
  color: #090a0d;
}
.form .input__box input[type="submit"] {
  color: rgb(255, 255, 255);
  cursor: pointer;
  background: #82ddf0ff;
  max-width: 100px;
  font-weight: 600;
  margin-bottom: 20px;
}
.forget {
  color: #5c6273;
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
.forget a {
  color: #090a0d;
  font-weight: 600;
  text-decoration: none;
}
