* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(to bottom, #cee3e9, #fbfbff);
  max-height: 100vh;
  max-width: 100vw;
}
nav {
  max-width: 100vw;
  background: #fffafb6e;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}
#backgroundImage {
  background: url("/images/pexels-helena-lopes-708440.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotateY(180deg);
}
#sectionLanding {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  min-height: 100vh;
  max-width: 100vw;
  transform: rotateY(180deg);
  /* border: 5px solid red; */
}
.divLanding {
  width: 50%;
  max-width: 100vw;
  padding: 5%;
  margin-left: 10%;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  background: #fffafb9a;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.158);
  /* box-shadow: -4px -4px 12px rgba(255, 255, 255, 0.158); */
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  /* background: url("/images/example-8.svg"); */
}
.divLanding .input__box {
  cursor: pointer;
  background: #114b5f;
  max-width: 300px;
  font-weight: 600;
  margin-bottom: 20px;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px 20px;
  letter-spacing: 1px;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.divLanding .input__box a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.divLanding a {
  text-decoration: none;
  color: #114b5f;
}
#sectionAuth {
  /* background: url("/images/pexels-helena-lopes-697243.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 100vw;
  /* border: 5px solid red; */
}
.box {
  position: relative;
}
.container {
  width: 400px;
  display: flex;
  min-height: 400px;
  position: relative;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  background: #fffafb9a;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 10%;
}
.form {
  width: 100%;
  height: 100%;
  padding: 40px;
  position: relative;
}
.form h2 {
  color: #090a0d;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  letter-spacing: 1px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
.form h2::before {
  width: 150px;
  height: 4px;
  content: "";
  bottom: -15px;
  background: #114b5f;
  position: absolute;
  display: flex;
  justify-content: center;
}
.form .input__box {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.form .input__box input {
  width: 100%;
  color: #090a0d;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px 20px;
  letter-spacing: 1px;
  border-radius: 35px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.form::placeholder {
  color: #090a0d;
}
.form .input__box input[type="submit"] {
  color: rgb(255, 255, 255);
  cursor: pointer;
  background: #114b5f;
  max-width: 100px;
  font-weight: 600;
  margin-bottom: 20px;
}
.forget {
  color: #5c6273;
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
.forget a {
  color: #090a0d;
  font-weight: 600;
  text-decoration: none;
}
